*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: lightgrey;
}
.container{
  display: flex;
  margin: 40px auto;
  margin-top: 80px;
  width: 85%;
  height: 700px;
  border-radius: 25px;
  box-shadow: 1px 10px 5px 10px gray;
  flex-direction: column;
  background: lightseagreen;
  flex-direction: column;
}
.searchbox{
  width: 100%;
  display: flex;
  height: 10%;
  /* border: 2px solid red; */
}
.Addsong{
  height: 20%;
  /* border: 2px solid yellow; */
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.songs{
  /* border: 2px solid blue; */
  height: 70%;
  /* margin-top: 5%; */
  padding-top: 1%;
}
.song{
  display: flex;
  width: 100%;
}
.dropDown-content{
  display: none;
  position: absolute;
  top: 3.3rem;
  left: 2.8rem;
  
}
.dropDown:hover .dropDown-content{
  display: block;
}
.box{
  position: relative;
  padding: 1%;
  left: 5%;
  display: flex;
}
.box-1{
  padding: 10%;
}